/* Container chính */
.account-page {
    margin: 30px auto;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: left;
}

/* Breadcrumb */
.account-breadcrumb {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

/* Tiêu đề */
.account-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Danh sách các mục */
.account-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 1200px;
}

/* Item */
.account-item {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fafafa;
    border-radius: 8px;
    padding: 15px 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease;
    cursor: pointer;
}

.account-item:hover {
    background: #f0f0f0;
}

/* Icon */
.account-icon {
    font-size: 22px;
    color: #a48bfc;
    margin-right: 15px;
}

/* Nội dung */
.account-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    
}

.acount-content a{
    text-decoration: none;
    color: inherit;
}

.account-item-title {
    font-weight: bold;
    font-size: 16px;
}

.account-item-desc {
    font-size: 14px;
    color: #666;
}

.account-breadcrumb, .account-title{
    text-align: left;
}



.account-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 1000px;
  background: #fafafa;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.account-link{
    text-decoration: none;
    color: #888;
    text-align: left;
}
.account-form label {
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}

.account-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.account-form button {
  background: #7a5cf0;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.account-form button:hover {
  background: #6547d8;
}

